body {
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px gray;
  text-decoration: underline 3px rgb(115,115,114);
}

.text-blue {
  color: skyblue;
}

.text-pink {
  color: rgb(255,192,203)
}

#basic p {
   font-weight: bold;
}